@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #4081dd;

.zmiti-index-main-ui {
    overflow: hidden;
    width: $viewW !important;
    
    left: 0;;

    &.index-enter-active,
    &.index-leave-active {
        @include transition(1s);
    }

    &.index-enter,
    &.index-leave-to{
        opacity: 0;
    }

    &::before{
        content:'';
        @include pos(a);
        z-index: 1;
        bottom: 0;
        width: 0;
        height: 0;
        border-color:#b5b7d1 transparent;
        border-width: 0 750px 550px 0px;
        border-style: solid;
        
    }
    z-index: 80;

    &.show {
        opacity: 1;
    }

    .zmiti-card{
        width: 1000px;
        left: -280px;
        @include pos(a);
        z-index: 2;
        top: -100px;
        @include transform(translateX(-650px));

        &.active{
            @include transition(1s);
            @include transform(translateX(0));
        }
    }
    @at-root.zmiti-btn{
        @include pos(a);
        width: 500px;
        height: 90px;
        z-index: 12;
        left: 125px;
        text-align: center;
        line-height: 90px;
        font-size:34px;;
        bottom: 120px;
        color:#ffff00;
        opacity:0;
        &.active{
            opacity:1;
            @include transition(.5s 1s);
        }
        &::before{
            content:'';
            z-index: -1;
            @include pos(a);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            @include br(60px);
            background:-webkit-linear-gradient(top, #ecbb90, #ed8638);
            box-shadow: 0 0 40px rgba(237,134,56,.4);
        }
    }
    .zmiti-logo{
        @include pos(a);
        width: 60px;
        bottom: 40px;
        left: 70px;
        z-index: 100;;
    }
    .zmiti-index1{
        @include pos(a);
        z-index: 2;
        bottom: -450px;
        right: -102px;
        img{
            @include pos(r);
            z-index: 10;
            box-shadow: 0 0 40px rgba(236, 134, 89, .6);
        }
        @include transform(translate3d(0,200px,0));
        opacity:0;
        &.active {
            opacity:1;
            @include transition(.5s);
            @include transform(translate3d(0,0,0));
            img{
                @include transform(rotate(-20deg));
                -webkit-transition:-webkit-transform .5s .5s;
            }
            &>div{
                
                -webkit-transition: -webkit-transform .5s .6s;
                 @include transform(rotate(-15deg));
    
                 &:nth-of-type(2) {
                     -webkit-transition: -webkit-transform .5s .7s;
                     @include transform(rotate(-10deg));
                     z-index: 8;
                 }
             }
         }

        &>div{
            @include pos(a);
            right: 0;
            top: 0;
            width: 80%;
            height: 100%;;
            background: #fff;

           
            &:before{
                content:'';
                @include pos(a);
                width: 50%;
                height: 100%;
                right: 0;
                top: 0;
                box-shadow: 0 0  40px rgba(236,134,89,.6);
            }
            
            z-index: 9;
           
        }

        
    }
    
  
     

     .zmiti-index-entry {
        z-index: 1100;
        @include animation(shake 1s infinite alternate);
        //@include transform(translate3d(-50%,0,0));

     }
     

   
   

    @-webkit-keyframes shake{
        to{
            @include transform(translate3d(0,-10px,0) scale(.99));
        }
    }
 
}


