.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-index-main-ui {
  overflow: hidden;
  width: 750px !important;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.zmiti-index-main-ui::before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 0;
  height: 0;
  border-color: #b5b7d1 transparent;
  border-width: 0 750px 550px 0px;
  border-style: solid;
}

.zmiti-index-main-ui.show {
  opacity: 1;
  z-index: 200;
}

.zmiti-index-main-ui .zmiti-card {
  width: 1000px;
  left: -280px;
  position: absolute;
  z-index: 2;
  top: -100px;
  -webkit-transform: translateX(-650px);
  transform: translateX(-650px);
}

.zmiti-index-main-ui .zmiti-card.active {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.zmiti-btn {
  position: absolute;
  width: 500px;
  height: 90px;
  z-index: 12;
  left: 125px;
  text-align: center;
  line-height: 90px;
  font-size: 34px;
  bottom: 120px;
  color: #ffff00;
  opacity: 0;
}

.zmiti-btn.active {
  opacity: 1;
  -webkit-transition: 0.5s 1s;
  transition: 0.5s 1s;
}

.zmiti-btn::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 60px;
  background: -webkit-linear-gradient(top, #ecbb90, #ed8638);
  box-shadow: 0 0 40px rgba(237, 134, 56, 0.4);
}

.zmiti-index-main-ui .zmiti-logo {
  position: absolute;
  width: 60px;
  bottom: 40px;
  left: 70px;
  z-index: 100;
}

.zmiti-index-main-ui .zmiti-index1 {
  position: absolute;
  z-index: 2;
  bottom: -450px;
  right: -102px;
  -webkit-transform: translate3d(0, 200px, 0);
  transform: translate3d(0, 200px, 0);
  opacity: 0;
}

.zmiti-index-main-ui .zmiti-index1 img {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 40px rgba(236, 134, 89, 0.6);
}

.zmiti-index-main-ui .zmiti-index1.active {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.zmiti-index-main-ui .zmiti-index1.active img {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transition: -webkit-transform .5s .5s;
}

.zmiti-index-main-ui .zmiti-index1.active > div {
  -webkit-transition: -webkit-transform .5s .6s;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.zmiti-index-main-ui .zmiti-index1.active > div:nth-of-type(2) {
  -webkit-transition: -webkit-transform .5s .7s;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  z-index: 8;
}

.zmiti-index-main-ui .zmiti-index1 > div {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background: #fff;
  z-index: 9;
}

.zmiti-index-main-ui .zmiti-index1 > div:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  box-shadow: 0 0 40px rgba(236, 134, 89, 0.6);
}

.zmiti-index-main-ui .zmiti-index-entry {
  z-index: 1100;
  -webkit-animation: shake 1s infinite alternate;
  animation: shake 1s infinite alternate;
}

@-webkit-keyframes shake {
  to {
    -webkit-transform: translate3d(0, -10px, 0) scale(0.99);
    transform: translate3d(0, -10px, 0) scale(0.99);
  }
}
